<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="/img/Book fav.png">
        <link rel="stylesheet" href='/stylesheets/404.css'>
        <title>uBook</title>
    </head>

    <body>
        <hr>
        <div class='error_404'>
            <h1>uBook</h1>
            <p><b>404.</b>That's an error.</p>
            <p>The request URL was not found on this server.</p>
        </div>
        <hr>
        <img src='https://www.globalsign.com/application/files/9516/0389/3750/What_Is_an_SSL_Common_Name_Mismatch_Error_-_Blog_Image.jpg'>
    </body>

</html>