<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href='/stylesheets/admin-login.css'>
        <link rel="icon" type="image/x-icon" href="/Book fav.png">
        <title>uBook: Admin-Login</title>
    </head>

    <body>
        <div id='background_wall'></div>

        <!-- Login Modal -->
            <div id='login_admin'>
                <h2>Login</h2>
                <form id='login_admin_form'>
                    <input type='text' placeholder="ID">
                    <input type='password' placeholder="Password">
                    <button>Log In</button>
                </form>
                <p id='login_error'></p>
            </div>
    </body>
    
    <script src='/javascript/adminLogin.js'></script>
</html>